.HeaderItem {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 15px;
}
.HeaderIcon img{
    height: 20px;
    width: auto;
}

.HeaderNav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.HeaderNav li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 0 15px;
    font-size: 12px;
}

.HeaderNav li:hover{
    opacity: 0.7;
}

.CounselingNav{
    flex-direction: row;
}
.CounselingNav span{
    font-size: 15px;
    background-color: orange;
    padding: 8px 16px;
    font-weight: 700;
    border-radius: 16px;
    color: #ffffff;
}

header{
    height: 70px;
}

.MainText, .SupportInfo, .CounselingButton{
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.MainText{
    font-size: 50px;
    z-index: 1;
}

.CounselingButton{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: orange;
    border-radius: 30px;
}

.SupportInfo{
    font-size: 12px;
    z-index: 1;
}

.TextContents{
    width: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: 300px;
    left: 50px;
}

.No1Icon, .BackImg, .TopTri, .BottomTri, .BackgroundDecoration{
    position: absolute;
}

.No1Icon{
    width: 204px;
    height: 204px;
    top: 150px;
    right: 500px;
    z-index: 1;
}

.BackImg img{
    height: auto;
    width: 775px;
}

.BackImg{
    top: 70px;
    right: 0;
    z-index: 1;
}

.BackgroundDecoration{
    top: 100px;
    left: 0;
    z-index: 0;
}
.TopTri{
    top: 70px;
    left: 0;
    z-index: 0;
}

.BottomTri{
    bottom: 0;
    right: 0;
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    header{
        height: auto;
    }

    .HeaderIcon{
        height: 50px;
        display: flex;
        align-items: center;
    }

    .HeaderNav{
        display: none;
    }

    .BottomTri{
        display: none;
    }

    .BackImg img{
        height: auto;
        width: 350px;
    }

    .BackgroundDecoration img{
        height: auto;
        width: 300px;
    }

    .TopTri img{
        height: auto;
        width: 150px;
    }

    .MainText{
        font-size: 22px;
    }
    
    .SupportInfo{
        font-size: 12px;
    }

    .TextContents{
        top: 400px;
        left: 10px;
    }

    .No1Icon{
        top: 350px;
        left: 230px;
    }

    .No1Icon img{
        height: 100px;
        width: auto;
    }
}